@using SYJMA.Umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.AdultModel>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/ui.helper.js"></script>
<script src="~/Scripts/calendar.control.js"></script>
<link href="~/Content/calendar.css" rel="stylesheet" />

<script type="text/javascript">
    var baseUrl = '@ViewBag.rootUrl';
    var category = '@ViewBag.bookType';
    $(document).ready(function () {
        addEvents('@Model.Program')
       $('#selectionConfirm').hide();
        calendar.init("@Model.PreferredDate.AsDateTime().ToString("yyyy-MM-dd")");
    });
</script>

@using (Html.BeginUmbracoForm<CalendarFormController>("PostCalendarForm_Adult", null, new Dictionary<string, object> { { "id", "calendarForm" }, { "onsubmit", "return validationForm()" } }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <b>Your Program </b>
                <br />
                <span style="font-size:22px;"><b>@Html.DisplayFor(x => x.Program)</b></span>
            </div>
            <div id="syjma_calendar" class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                @* Display Calendar here *@
            </div>
        </div>

        <div id="selectionConfirm" style="min-height: 105px;" class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
        </div>
        @Html.HiddenFor(x => x.Event.title, new { @id = "selectedEventTitle" })
        @Html.HiddenFor(x => x.Event.start, new { @id = "selectedEventStart" })
        @Html.HiddenFor(x => x.Event.end, new { @id = "selectedEventEnd" })
        @Html.HiddenFor(x => x.Event.id, new { @id = "selectedEventId" })
        @Html.HiddenFor(x => x.Event.IsInvoiceOnly, new { @id = "isInvoiceOnly" })
        @Html.HiddenFor(x => x.AdultNumber)
        @Html.HiddenFor(x => x.Id)
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="@ViewBag.parentUrl" class="btn btn-md btn-primary pull-left">Back</a>
            <input type="submit" name="submit" value="Next" class="btn btn-md btn-primary pull-right" />
        </div>
    </div>
}