@inherits Umbraco.Web.Mvc.UmbracoTemplatePage


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@

@{ 
    var selection = CurrentPage.Site().Children.Where("Visible");
    var homePage = Model.Content.AncestorsOrSelf(1).FirstOrDefault();
    var img = homePage.GetPropertyValue<string>("companyLogo");
}

<div id="logo_div" class="row">
    @* Display at large screen *@
    <a href="@homePage.Url" class="navbar-brand hidden-md hidden-sm hidden-xs" style="max-height:18px;">
        <img style="width:313px;max-height:18px;" src="@img" />
    </a>
    @* Display at midium screen *@
    <a href="@homePage.Url" class="navbar-brand hidden-lg hidden-sm hidden-xs" style="max-height:16px;">
        <img style="width:278px;max-height:16px;" src="@img" />
    </a>
    @* Display at small screen *@
    <a href="@homePage.Url" class="navbar-brand hidden-lg hidden-md hidden-xs" style="max-height:14px;">
        <img style="width:243px;max-height:14px;" src="@img" />
    </a>
    @* Display at x-small screen *@
    <a href="@homePage.Url" class="navbar-brand hidden-lg hidden-md hidden-sm" style="max-height:12px;">
        <img style="width:208px;max-height:12px;" src="@img" />
    </a>
</div>