@using SYJMA.Umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.UniversityModel>

<script>
    var baseUrl = '@ViewBag.rootUrl';
    var category = '@Model.type';
</script>

<script src="~/Scripts/getnamelist.js"></script>

@* Date Pciker jQuery *@
<script src="~/Scripts/DatePicker.js"></script>

@using (Html.BeginUmbracoForm<InitialController>("PostInitialPage_University"))
{
    @Html.AntiForgeryToken()

    <div class="row form-input">
        <div class="form-group col-md-12">
            @Html.Label("Name", "Name of University ")
            @Html.TextBoxFor(m => m.UniName, new { @id = "Name", @class = "form-control", @placeholder = "Start typing to select your university" })
        </div>

        <div class="form-group col-md-12">
            @Html.Label("CampusName", "Name of Campus ")
            @Html.TextBoxFor(m => m.CampusName, new { @id = "CampusName", @class = "form-control"})
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Program", "Program / Tour Required ")
            @Html.DropDownListFor(m => m.Program, Model.ProgramList, new { @id = "Program", @class = "form-control" })
        </div>

        <div class="form-group col-sm-12">
            @Html.Label("datepicker", "Preferred Date (you can check availability on the next page) ")
            @Html.TextBoxFor(m => m.PreferredDate, new { @id = "datepicker", @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("studentNo", "Number of Students ")
            @Html.TextBoxFor(m => m.StudentNumber, new { @id = "studentNo", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(m => m.StudentNumber)</span>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("staffNo", "Number of Staff ")
            @Html.TextBoxFor(m => m.StaffNumber, new { @id = "staffNo", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(m => m.StaffNumber)</span>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("comment", "Comments / Special Requirements ")
            @Html.TextAreaFor(m => m.Comments, new { @id = "comment", @class = "form-control" })
        </div>

        @Html.HiddenFor(x => x.type)
        <input type="submit" name="submit" value="Next" class="btn btn-md btn-primary pull-right" />
    </div>
    
    
    
}
