@using SYJMA.Umbraco.Controllers;
@using SYJMA.Umbraco.Utility;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.SchoolModel>

<script src="~/Scripts/getnamelist.js"></script>
@* Date Pciker jQuery *@
<script src="~/Scripts/DatePicker.js"></script>

@using (Html.BeginUmbracoForm<InitialController>("PostInitialPage_School"))
{
    <div class="row">
        <div class="form-group col-md-12">
            @Html.Label("Name", "Name of School ")
            @Html.TextBoxFor(m => m.SchoolName, new { @id = "Name", @class = "form-control" })
            <small class="form-text text-muted help-block">If your school does not appear on this list, please contact us.</small>
        </div>

        <div class="form-group col-sm-6">
            @Html.Label("Year", "Year ")
            @Html.DropDownListFor(m => m.Year, Model.YearList, new { @id = "Year", @class = "form-control" })
            <small class="form-text text-muted help-block">To book separate tours for different year groups, complete this form and then click Add Another booking on the last page.</small>
        </div>

        <div class="form-group col-sm-6">
            @Html.Label("datepicker", "Preferred Date (you can check availability on the next page) ")
            @Html.TextBoxFor(m => m.PreferredDate, new { @id = "datepicker", @class = "form-control" })
        </div>

        <div class="form-group col-md-12">
            @Html.Label("Subject", "Subject Area ")
            @Html.DropDownListFor(m => m.SubjectArea, Model.SubjectList, new { @id = "Subject", @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("studentNo", "Number of Students ")
            @Html.TextBoxFor(m => m.StudentsNumber, new { @id = "studentNo", @class = "form-control" })
        </div>

        <div class="form-group col-md-6">
            @Html.Label("staffNo", "Number of Staff ")
            @Html.TextBoxFor(m => m.StaffNumber, new { @id = "staffNo", @class = "form-control" })
        </div>

        <div class="form-group col-md-12">
            @Html.Label("comment", "Comments / Special Requirements ")
            @Html.TextAreaFor(m => m.Comments, new { @id = "comment", @class = "form-control" })
        </div>

        @Html.HiddenFor(x => x.type)
        <input type="submit" name="submit" value="Next" class="btn btn-md btn-primary pull-right" />
    </div>
    
}
