@using SYJMA.Umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.SchoolModel>

<script src="~/Scripts/toggleField_replicateData.js"></script>


@using (Html.BeginUmbracoForm<BookingDetailController>("PostBooking_School"))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <h2>Your Details (Group Coordinator)</h2>
        <div class="form-group col-md-4">
            @Html.Label("title", "Title *")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.Title, new { @id = "title", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.GroupCoordinator.Title)</span>
        </div>

        <div class="form-group col-md-4">
            @Html.Label("firstname", "Firtst Name *")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.FirstName, new { @id = "firstname", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.GroupCoordinator.FirstName)</span>
        </div>

        <div class="form-group col-md-4">
            @Html.Label("surename", "Surename *")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.SureName, new { @id = "surename", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.GroupCoordinator.SureName)</span>
        </div>

        <div class="form-group col-md-12">
            @Html.Label("email", "Email *")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.Email, new { @id = "email", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.GroupCoordinator.Email)</span>
        </div>

        <div class="form-group col-md-4">
            @Html.Label("mobile", "Mobile Number *")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.Mobile, new { @id = "mobile", @class = "form-control" })
            <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.GroupCoordinator.Mobile)</span>
        </div>

        <div class="form-group col-md-8">
            @Html.Label("daytime", "Daytime Number")
            @Html.TextBoxFor(x => x.Event.GroupCoordinator.DaytimeNumber, new { @id = "daytime", @class = "form-control" })
        </div>
        <h2>Invoicing Details</h2>
        <div class="form-group col-md-12">
            <input type="checkbox" name="checkbox" value="ticked" id="checkbox" />
            Same as above?
        </div>

        <div class="invoice">
            <div class="form-group col-md-4">
                @Html.Label("title_i", "Title *")
                @Html.TextBoxFor(x => x.Event.Invoice.Title, new { @id = "title_i", @class = "form-control" })
                <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.Invoice.Title)</span>
            </div>

            <div class="form-group col-md-4">
                @Html.Label("firstname_i", "Firtst Name *")
                @Html.TextBoxFor(x => x.Event.Invoice.FirstName, new { @id = "firstname_i", @class = "form-control" })
                <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.Invoice.FirstName)</span>
            </div>

            <div class="form-group col-md-4">
                @Html.Label("surename_i", "Surename *")
                @Html.TextBoxFor(x => x.Event.Invoice.SureName, new { @id = "surename_i", @class = "form-control" })
                <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.Invoice.SureName)</span>
            </div>

            <div class="form-group col-md-12">
                @Html.Label("email_i", "Email *")
                @Html.TextBoxFor(x => x.Event.Invoice.Email, new { @id = "email_i", @class = "form-control" })
                <span style="color: red;">@Html.ValidationMessageFor(x => x.Event.Invoice.Email)</span>
            </div>
        </div>
        @Html.HiddenFor(x => x.Event.IsSameContact, new { @id = "IsSameContact" })
        @Html.HiddenFor(x => x.SchoolName)
        @Html.HiddenFor(x => x.PreferredDate)
        @Html.HiddenFor(x=>x.Event.Invoice.Phone)
        @Html.HiddenFor(x => x.Comments)
        @Html.HiddenFor(x=>x.StudentsNumber)
        <div class="col-md-12">
            <a href="@ViewBag.parentUrl" class="btn btn-md btn-primary pull-left">Back</a>
            <input type="submit" name="submit" value="Next" class="btn btn-md btn-primary pull-right" />
        </div>

    </div>
}
