@using SYJMA.Umbraco.Controllers;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SYJMA.Umbraco.Models.SchoolModel>

<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fullcalendar.min.js"></script>

<script src="~/Scripts/calendar.control.js"></script>
<link href="~/Content/calendar.control.css" rel="stylesheet" />
<script>
    var baseUrl = '@ViewBag.rootUrl';
    $(document).ready(function () {
        $('#selectionConfirm').hide();
        $('#calendar').fullCalendar('gotoDate', '@Model.PreferredDate.AsDateTime().ToString("yyyy-MM-dd")');
    })
</script>

@using (Html.BeginUmbracoForm<CalendarFormController>("PostCalendarForm_School", null, new Dictionary<string, object> { { "id", "calendarForm" } }))
{
    <div class="row">
        <div class="form-group col-md-4">
            <b>Programs </b>
            <br />
            <ul class="radio" style="list-style-type: none">
                @foreach (var item in Model.ProgramList)
                {
                    <li>
                        <label>@Html.RadioButtonFor(m => m.Program, item.Value)@item.Value</label>
                    </li>
                }
            </ul>
        </div>
        <div id="calendar" class="form-group col-md-8">
            @* Display Calendar here *@
        </div>
        <div id="externalLink" class="col-md-12">
            @Umbraco.Field("programDescriptionLink")
        </div>
        <div id="selectionConfirm" style="min-height: 105px;" class="form-group col-md-12">
        </div>
        @Html.HiddenFor(x => x.Event.title, new { @id = "selectedEventTitle" })
        @Html.HiddenFor(x => x.Event.start, new { @id = "selectedEventStart" })
        @Html.HiddenFor(x => x.Event.end, new { @id = "selectedEventEnd" })
        @Html.HiddenFor(x => x.Event.id, new { @id = "selectedEventId" })
        @Html.HiddenFor(x => x.Id)
        <div class="col-md-12">
            <a href="@ViewBag.parentUrl" class="btn btn-md btn-primary pull-left">Back</a>
            <input type="submit" name="submit" value="Next" class="btn btn-md btn-primary pull-right" />
        </div>
    </div>
}
